<div class="container">
    <div class="row">
        <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Add item</h5>        </div>
        <div class="card-body">
            <a routerLink="/add-item" class="btn btn-primary">Add Item</a>
        </div>
      </div>
    </div>
    
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Get item by id</h5>
        </div>
        <div class="card-body">
            <a routerLink="/get-item-by-id" class="btn btn-primary">Get Item By Id</a>
        </div>
      </div>
    </div>
    </div>
    <br>
    
    <div class="row">
    <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Get all item</h5>        </div>
        <div class="card-body">
            <a routerLink="/get-all-item" class="btn btn-primary">Get All Item</a>
        </div>
      </div>
    </div>
    
    </div>
    </div>