<div class="container">
<div class="row">
    <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Add employee</h5>
    </div>
    <div class="card-body">
        <a routerLink="/add-employee" class="btn btn-primary">Add Employee</a>
    </div>
  </div>
</div>

  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Get employee by id</h5>
    </div>
    <div class="card-body">
        <a routerLink="/get-employee-by-id" class="btn btn-primary">Get Employee By Id</a>
    </div>
  </div>
</div>
</div>
<br>

<div class="row">
<div class="col-sm-6">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Get all employee</h5>
    </div>
    <div class="card-body">
        <a routerLink="/get-all-employee" class="btn btn-primary">Get All Employee</a>
    </div>
  </div>
</div>

</div>
</div>